# game builds too large for github uploads
# github Large File Storage breaks game builds
# builds can be found on google drive links
/assets/project/Gravity/*.zip
/assets/project/Halloween-Hustle/*.zip
/assets/project/Zelda/*.zip
